body{
  height: 100%;
  padding: 0;
  background-image: linear-gradient(to bottom,rgb(126, 161, 255), rgb(169, 234, 206) );
  font-family: Arial;
  position: relative;
  box-sizing: border-box;
  cursor: none;
  width: 100%;
  min-width: 700px;
  min-height: 5000px; /*setting min-height puts footer at the bottom 24/7*/
  margin: 0; /*the father pages need to be full*/
}

#content-wrap {
  min-height: 100%;
}
.about{
  min-height: 3000px;
  height: 100%;
}
/* FOOTER STARTS */

/* HEADER */
.header{
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1PX;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.125rem 0.3rem 0 rgb(0 0 0 / 11%);
  z-index: 100;
}

.right-header{
  position: absolute;
  left: 90px;
}
/* BUTTONS NAV STARTS */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.nav-link{
  color:rgb(0, 0, 0);
  margin-right: 10px;
  font-family: Arial;
  transition: 0.25s;
  cursor: none;
}
.nav-link:focus{
  font-size: 25px;
  font-weight: bold;
}


/* BUTTONS NAV ENDS */
/* HEADER ENDS */

.services-container{
  margin-left: 40px;
  margin-right: 20px;
}
.table{
  background-color: rgba(34, 33, 33, 0.846);
  color: white;
  width: 1000px;
  font-family: Roboto;
}
.services-option-button{
  cursor: pointer;
  margin-left: 10px;
}

/* BIO PAGE STARTS */
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(255, 213, 220);
  border: 3px;
  border-radius: 5px;
  border-color: white;
  box-shadow: 0 0.2rem 0.33rem 0 rgb(0 0 0 / 30%);
  justify-content: center;
  padding-right: 60px;
  padding-left: 60px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 150px;
}
.col1{
  flex: 0 0 40%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 0px 70px;

}

.col2{
  flex: 0 0 60%;
  padding-bottom: 20px;
}
.personalwri{
  cursor: none;
}

.portrait {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  background-color: white;
  transition: 0.2s;
  flex: 0 0 60%;
}
.portrait:hover {
  /*transform: translate(-0.1em, -0.1em);*/
  transform: scale(1.05);
  box-shadow: 5px 5px 30px 5px #ed449bb1;
  transition: 0.2s;
}
.portrait-title{
  display: inline-block;
  left:200;
  flex: 0 0 40%;
}


/* grid */
.exp-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
  height: 600px;
  margin-bottom: 500px;
  margin-right: 90px;
  margin-left: 90px;
}
.col3{
  background-color: white;
  box-shadow: 0 0.2rem 0.33rem 0 rgb(0 0 0 / 30%);
  border-radius: 5px;
  position: relative;
}
.sectiontitle{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
.experience-card{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.exp-name{
  font-size: 20px;
}
.exp-headline{
  font-size:15px;
  font-style: italic;
}
.exp-description{
  font-size: 15px;
}

/* */
.cursor {
  position: fixed; 
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  left: 0;
  top: 0;
  transition: 0.1s;
}
.sub-box{
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.form-box{
  border-radius: 5px;
  padding: 5px 5px;
  background: white;
  padding: 5px 5px;
  box-shadow: 5px 5px 5px #c7c4c7, -10px -10px 15px #fff;}
.form-box input{
  font-size:15px;
  color: black;
  border:none;
  outline:none;
  background: #ececee;
}
.form-box button{
  color: rgb(0, 178, 238);
  font-size: 15px;
  border:none;
  border-radius: 5px;
  transition: 0.3s;
}
.form-box button:hover{
  opacity: 0.6;
}